$comment-bg: $white;


.comment-section{
    //  padding: 30px 0;
    // background-color: $comment-bg;
    @include styleSection(30px, 30px, $comment-bg);



    .comment-list{
        list-style: none;
        padding: 0;


        .comment-item{
            // @include commentFlex();
            display: flex;

            .comment-img {
                flex: 0 1 50%;
                img{
                    @include customRadius(50%, 50%, 50%, 50%);

                }
            }

            .comment-body{
                padding-left: 10px;
                .comment-title{
                    margin-top: 0px;
                }

            }
        }
    }




}


@media(min-width:768px){
    .comment-section{
        .comment-list{
            .comment-img{
                flex: 0 1 90% !important;
            }
        }
    }
}