$tabel-header-bg: $purple;
$table-border: $black;
$table-header-border: $white;
$table-header-color: $white;
$row-bg: $white;


.course-section{
    //padding: 50px 0;
    
    @include styleSection(50px, 50px, transparent);
    
    width: 100%;


    table{
        border: 2px solid $table-border;
        border-collapse: collapse;

        .course-caption{
            text-align: left;
            font-style: italic;
        }

        thead{
            
            background-color: $tabel-header-bg;
            th{
                border: 2px solid $table-header-border;
                padding: 5px 60px;
                color: colorYiq($tabel-header-bg);
            }
        }

    }
}

.course-section table tbody tr{
   
    &:nth-of-type(even){
        background-color: $row-bg;
    }
    &:hover{
        background-color: darken($light-gray, 20%);
    }

    th,td{
        border: 2px solid $table-border;
        padding: 5px 2px;

    }
    td{
        text-align: left;
    }




}


@media(min-width:576px){
    .course-section table{
        width: 100%;
    }
}