@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Lato:wght@400;700&family=Rubik:wght@400;700&display=swap');

/* FONT PROPERTY
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Rubik', sans-serif;*/

//FONTS VARIABLES

$lato: 'Lato', sans-serif;
$rubik: 'Rubik', sans-serif;
$josefin: 'Josefin Sans', sans-serif;
$font-regular: 400;
$font-bold: 700;


